.admin_page {
  position: relative;
  width: 100%;
  height: 100%; 
  display: grid;
  grid-template-columns: 180px auto;
}

/* 大螢幕 */
@media screen and (min-width: 992px) {
  .admin_page section {
    height: 100%;
  }
  .admin_page .admin_nav_section {
    width: 180px;
    grid-column: 1/2;
  }

  .admin_page .admin_section {
    grid-column: 2/3;
    overflow-y: auto;
  }
  /* scroll bar style */
  .admin_page .admin_section {
    overflow-y: auto;
    /* margin: 0 24px; */
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #fafafa;
  }
  ::-webkit-scrollbar-thumb {
    z-index: 0;
    background: #c1c1c1;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
}

/* 小螢幕 */
@media screen and (max-width: 992px) {
}
