.register,
.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.register .content,
.login .content {
  margin-top: 64px;
  width: 360px;
}
.register .content .title,
.login .content .title {
  margin: 20px 0;
}

.link_btn{
  background-color: transparent;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 0;
  padding-bottom: 1px;
  line-height: 16px;
}

/* 註冊頁 取消btn */
.register .cancel_btn{
  background-color: transparent;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 0;
  padding-bottom: 1px;
  line-height: 16px;
}

/* 前、後台登入頁 註冊&登入btn */
.login .btn_group,
.admin_login .btn_group{
  text-align: right;
}

.btn_group .register_btn,
.btn_group .admin_login_btn,
.btn_group .user_login_btn{
  margin: 0 12px;
}
