@charset "UTF-8";
@import url("styles/base.css");
.form {
  margin: 40px 0;
}

.input_div {
  position: relative;
  text-align: left;
  margin-bottom: 32px;
  border-radius: 2px;
  padding-top: 6px;
  background-color: #f5f8fa;
}

.input_div * {
  background-color: #f5f8fa;
  padding-left: 10px;
}

.input_div label {
  color: var(--gray-7);
  font-size: var(--secondary-text-size);
  margin-bottom: 5px;
}

.input_div input {
  border: 0;
  border-bottom: 3px;
  border-style: solid;
  border-color: #657786;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  outline: none;
}

.input_div input::-moz-placeholder {
  color: var(--gray-5);
  font-size: var(--main-text-size);
}

.input_div input::placeholder {
  color: var(--gray-5);
  font-size: var(--main-text-size);
}

.input_div .input:hover,
.input_div .input:focus {
  border-color: var(--light-blue-color);
}

.input_div .input_error{
  border-color: var(--error-color);
}

.input_div .err_msg{
  position: absolute;
  background-color: transparent;
  color: var(--error-color);
  font-size: 12px;
  line-height: 20px;
  width: 100%;
  left: -10px;
  bottom: -24px;
}


.submit_btn {
  position: relative;
  width: 100%;
  height: 46px;
  color: white;
  background-color: var(--main-color);
  font-size: 20px;
  margin-bottom: 25px;
  border-radius: 50px;
  padding: 8px 24px;
}
