/* @import url("styles/base.css"); */
@import url("base.css");

.border-top-line {
  border-top-line: 1px solid #e6ecf0;
}

.follow-list {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.follow-list .follow-item {
  display: flex;
  justify-content: left;
  height: auto;
  min-height: 158px;
  width: 100%;
  padding: 16px 30px 16px 23px;
  border-top: 1px solid #e6ecf0;
}
.follow-item-avatar {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.follow-item-container {
  margin-left: 8px;
  width: 100%;
}
.follow-item-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.follow-tweet-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--main-text);
}

/* 狀態切換 */
.follow-item-button {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: #ffffff;
  
}

.follow-item-button-active {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid var(--main-color);
  color: #ffffff;
  background: var(--main-color);
}

.follow-item-tweet {
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary-color);
}
