
/* 大螢幕 */
@media screen and (min-width: 992px) {
  /* MainPage Content style */
  .main_content .banner_div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6ECF0;
    padding: 24px;
  }
  .main_content .back_btn{
    margin-right: 16px;
    cursor: pointer;
  }
  
  .post_div{
    border-bottom: 10px solid #E6ECF0;
  }

  .main_content .posting{
    display: flex;
    padding: 16px 24px 0 24px;
  }
  .main_content .posting .avatar_span .avatar{
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 100px;
  }
  
  .main_content .posting .posting_text{
    margin: 8px;
    border: 0;
    resize: none;
    overflow: auto;
    outline: none;
  }

  .main_content .posting .posting_text::placeholder{
    color: #6C757D;
  }
  
  .main_content .btn_div{
    text-align: right;
    border-bottom: 10px solid #E6ECF0;
  }
  .main_content .post_btn{
    background-color: var(--main-color);
    color: white;
    margin: 0 24px 16px 24px;
    border-radius: 50px;
    padding: 8px 16px;
  }

  /* TweetList style */
  .tweet_list .tweet_item{
    border-bottom: 1px solid #E6ECF0;
    padding: 16px 24px;
    display: flex;
  }

  .tweet_list .tweet_item .avatar_img{
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .tweet_list .tweet_item .text_div{
    margin-left: 8px;
    color: var(--main-text-color);
    line-height: 26px;
  }
  .tweet_list .tweet_item .card_header{
    display: flex;
  }
  .tweet_list .tweet_item .user_name{
    font-weight: 700;
    margin-right: 8px;
  }
  .tweet_list .tweet_item .user_span{
    display: flex;
    color: var(--secondary-color);
  }

  .tweet_list .tweet_item .user_account{
    font-size: 14px;
    cursor: pointer;
  }
  .tweet_list .tweet_item .user_account:hover{
    font-size: 14px;
    color: var(--primary-color);
  }

  .tweet_list .tweet_item .post_time{
    font-size: 14px;
  }
  
  .tweet_list .tweet_item .card_body{
    margin: 10px 0;
  }

  .tweet_list .tweet_item .card_footer{
    display:flex;
    color: var(--secondary-color);
  }
  .tweet_list .tweet_item .card_footer span{
    display: flex;
    align-items: center;
  }
  .tweet_list .tweet_item .card_footer span svg{
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  .tweet_list .tweet_item .card_footer span p{
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin-left: 10px;
  }

  .tweet_list .tweet_item .reply_span .reply_icon:hover path{
    fill: var(--light-blue-color)
  }

  .tweet_list .tweet_item .like_span{
    margin-left: 40px;
  }

  .like_span .like_icon path{
    fill: var(--error-color);
  }
  .like_span .like_icon:hover path{
    fill: transparent;
  }

  .like_span .unlike_icon:hover path{
    fill: var(--error-color);
  }


  /* Tweet Modal */
  .tweet_modal{
    position: fixed;
  }
  .tweet_modal .gray_panel{
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.5);
  }

  .tweet_modal .modal_panel{
    background-color: white;
    position: fixed;
    z-index: 999;
    width: 635px;
    height: 300px;
    top: 56px;
    margin-left: 204px;
    border-radius: 14px;
  }

  .tweet_modal .modal_header{
    border-bottom: 1px solid #E6ECF0;
    height: 56px;
    padding: 16px;
  }
  .tweet_modal .close_btn{
    display: block;
    width: 24px;
  }
  .tweet_modal .close_btn svg{
    display: block;
    cursor: pointer;
  }
  .tweet_modal .close_btn svg path{
    fill: var(--main-color);
  }

  .tweet_modal .modal_body{
    display: flex;
    padding: 16px 16px 0 24px;
  }

  .tweet_modal .modal_body .avatar_div{
    margin-right: 8px;
  }

  .tweet_modal .modal_body .avatar_div .avatar{
    border: 1px solid gray;
    border-radius: 100px;
  }
  

  .tweet_modal .modal_body .text_div{
    text-align: right;
  }
  .tweet_modal .content_text{
    border: 0;
    padding: 10px 0;
    resize: none;
    width: 535px;
    height: 165px;
    outline: none;
  }

  .tweet_modal .modal_footer{
    margin: 0 16px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .tweet_modal .tip_text{
    color: var(--error-color);
    margin-right: 20px;
  }

  .tweet_modal .submit_btn{
    background-color: var(--main-color);
    color: white;
    border-radius: 50px;
    padding: 8px 16px;
  }
  .tweet_modal .submit_btn:disabled{
    background-color: #6C757D;
    opacity: 0.5;
    cursor: default;
  }

}