@import url("styles/base.css");
.navbar {
  position: absolute;
  width: 180px;
  height: 100%;
  top :0;
  bottom:0;
}

.admin-navbar{
  position: fixed;
  width: 180px;
  height: 100vh;
  top :0;
  bottom:0;
}

.logo {
  padding: 8px;
}

.nav_item {
  display: flex;
  align-items: center;
  color: var(--gray-8);
  height: 58px;
  margin: 10px;
  padding: 6px;
  cursor: pointer;
}

.item_svg {
  margin-right: 16px;
}

.item_svg svg path {
  fill: var(--gray-8);
}

.item_group .active{
  color:var(--main-color);
}
.item_group .active svg path {
  fill: var(--main-color);
}

.tweet_btn {
  background-color: var(--main-color);
  width: 100%;
  color: white;
  font-size: 20px;
  border: 0;
  border-radius: 50px;
  padding: 8px;
}

.logout {
  position: absolute;
  bottom: 0;
  width: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  padding: 6px;
  color: var(--gray-8);
}

.logout_svg {
  margin-right: 16px;
}

.logout_svg svg path {
  fill: var(--gray-8);
}