@import url("base.css");


.recommend {
  position: fixed;
  width: 275px;
  background-color: var(--gray-1);
  margin-top: 16px;
  border-radius: 16px;
    /* 刪除 z-index: -1; */
}

.recommend .title {
  padding: 24px;
  border-bottom: 1px solid #f6ecf0;
}

.recommend .recommend_item {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommend .recommend_item .recommend_item_info {
  width: 100%;
  max-width: 142px;
  display: flex;
  justify-content: right;
}

.recommend .recommend_item .item_text {
  width: 75px;
  height: 48px;
  margin-left: 8px;
  margin-right: 13px;
}

.recommend .recommend_item .item_text .name {
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.recommend .recommend_item .item_text .account {
  font-size: var(--secondary-text-size);
  color: var(--gray-6);
  margin-top: 5px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* 部分設定可以跟follow合併 */
.recommend .recommend_item .recommend_item_avatar {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}