@import url("styles/base.css");

.recommend {
  position: fixed;
  width: 275px;
  background-color: var(--gray-1);
  margin-top: 16px;
  border-radius: 16px;
}

.recommend .title {
  margin: 24px;
}

.recommend .title::after {
  content: "";
  position: absolute;
  top: 74px;
  left: 0;
  border: 1px solid #f6ecf0;
  width: 275px;
}

.recommend .recommend_item {
  padding: 16px;
  display: flex;
  align-items: center;
}

.recommend .recommend_item .item_text {
  width: 75px;
  height: 48px;
  margin-left: 8px;
  margin-right: 13px;
}

.recommend .recommend_item .item_text .name {
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recommend .recommend_item .item_text .account {
  font-size: var(--secondary-text-size);
  color: var(--gray-6);
  margin-top: 5px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recommend .recommend_item .item_btn .follow_btn {
  background-color: var(--main-color);
  color: white;
  border-radius: 50px;
  padding: 8px 16px;
}