.setting_section{
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  grid-column: 2/3;
  margin: 0 24px;
  height: 100vh;
}

/* 大螢幕 */
@media screen and (min-width: 992px) {
  .setting_section .banner{
    padding: 24px;
    border-bottom: 1px solid #e6ecf0;
  }
  .setting_section .banner p{
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
  }

  .setting_section .setting_form{
    padding: 24px;
  }

  .setting_section .setting_form .form{
    margin: 0;
    text-align: right;
  }

  .setting_section .setting_form .setting_btn_div{
    text-align: right;
  }

  .setting_section .setting_form .edit_btn{
    background-color: var(--main-color);
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
  }
}

/* 小螢幕 */
@media screen and (max-width: 992px) {
}
