@import url('styles/base.css');

.tweet_content{
  height: 100%;
}

/* 大螢幕 */
@media screen and (min-width: 992px) {
  /* MainPage Content style */  
  .tweet_content .banner_div{
    display: flex;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #E6ECF0;
  }
  .tweet_content .back_btn{
    margin-right: 16px;
    cursor: pointer;
  }
  
  .tweet_content .post_div{
    padding: 16px;
    border-bottom: 1px solid #E6ECF0;
  }

  .tweet_content .post_header{
    display: flex;
    align-items: center;
    
  }
  .tweet_content .post_header .avatar_img{
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 50px;
    cursor: pointer;
  }

  .tweet_content .user_info .name{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: var(--main-text-color);
  }

  .tweet_content .user_info .account{
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-color);
  }

  .tweet_content .post_body{
    margin: 8px 0;
  }

  .tweet_content .post_body .post_content{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  .tweet_content .post_datetime {
    display: flex;
    margin-bottom: 8px;
  }
  .tweet_content .post_datetime p{
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-color);
  }

  .tweet_content .post_info{
    display: flex;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
    padding: 16px 0;
  }
  .tweet_content .post_info span{
    color: var(--secondary-color);
    font-size: 19px;
    line-height: 23px;
    display: flex;
    margin-right:24px;
  }

  .tweet_content .post_info span p{
    color: black;
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
    margin-right: 5px;
  }

  .tweet_content .icon_div{
    padding-top: 16px;
    padding-bottom: 3px;
  }

  .tweet_content .icon_div span{
    cursor: pointer;
  }
  .tweet_content .icon_div .reply_icon{
    margin-right: 120px;
  }

  .tweet_content .icon_div .reply_icon svg:hover path{
    fill: var(--light-blue-color);
  }
  
  .tweet_content .icon_div .like_icon path{
    fill: var(--error-color);
  }
  .tweet_content .icon_div .like_icon:hover path{
    fill: var(--gray-5)
  }

  .tweet_content .icon_div .unlike_icon:hover path{
    fill: var(--error-color);
  }

  .tweet_content .reply_msg{
    padding: 20px 0;
    text-align: center;
    color: var(--gray-6);
  }


  /* ReplyList style */
  .reply_list .reply_item{
    border-bottom: 1px solid #E6ECF0;
    padding: 16px;
    display: flex;
  }
  .reply_list .reply_item .avatar_img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .reply_list .reply_item .text_div{
    margin-left: 8px;
    color: var(--main-text-color);
    line-height: 26px;
  }
  .reply_list .reply_item .card_header{
    display: flex;
  }
  .reply_list .reply_item .user_name{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin-right: 8px;
  }
  .reply_list .reply_item .user_account{
    font-size: 14px;
    color: var(--secondary-color);
  }

  .reply_list .reply_item .reply_time{
    font-size: 14px;
    color: var(--secondary-color);
  }
  
  .reply_list .reply_item .card_body{
    margin: 8px 0;
  }

  .reply_list .reply_item .reply_to{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-color);
  }
  .reply_list .reply_to .post_owner{
    color: var(--main-color);
    margin-left: 3px;
    font-size: 14px;
    line-height: 22px;
  }


  /* Tweet Modal */
  .main_reply_modal{
    position: relative;
  }
  .main_reply_modal .gray_panel{
    position: fixed;
    z-index: 997;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.5);
  }

  .main_reply_modal .modal_panel{
    background-color: white;
    position: fixed;
    z-index: 998;
    width: 635px;
    top: 56px;
    border-radius: 14px;
  }

  .main_reply_modal .modal_header{
    border-bottom: 1px solid #E6ECF0;
    height: 56px;
    padding: 16px;
  }
  .main_reply_modal .close_btn{
    display: block;
    width: 24px;
  }
  .main_reply_modal .close_btn svg{
    display: block;
    cursor: pointer;
  }
  .main_reply_modal .close_btn svg path{
    fill: var(--main-color);
  }

  .main_reply_modal .modal_body{
    padding: 16px 16px 0 24px;
  }

  /* Tweet_Content */
  .main_reply_modal .tweet_content .post_div{
    border: 0;
    padding: 0;
    display: flex;
    position: relative;
  }

  .main_reply_modal .avatar_img{
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 50px;
    cursor: pointer;
  }

  .style_square{
    display: block;
    height: calc( 100% - 48px );
    padding: 16px 50% 10px 50%;

  }

  .style_square .style_bar{
    border-left:2px solid #CCD6DD;
    display: block;
    height: 100%;
  }

  .main_reply_modal .post_owner_info{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .main_reply_modal .post_owner_info .name{
    margin-right: 8px;
    line-height: 26px;
  }

  .main_reply_modal .post_owner_info .account,
  .main_reply_modal .post_owner_info .time{
    color: var(--secondary-color);
    font-size: 14px;
  }

  .main_reply_modal .post_content{
    line-height: 26px;
  }

  .main_reply_modal .reply_to{
    display: flex;
    margin: 14px 0;
    font-size: 14px;
    color: var(--secondary-color);
  }
  .main_reply_modal .post_owner{
    color: var(--main-color);
    margin-left: 5px;
    font-size: 14px;
  }

  /* Reply Area */
  .main_reply_modal .modal_body .reply_area{
    display: flex;
    margin-top: 10px;
  }

  .main_reply_modal .modal_body .replier_avatar{
    margin-right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  .main_reply_modal .modal_body .text_div{
    text-align: right;
  }
  .main_reply_modal .content_text{
    border: 0;
    padding: 10px 0;
    resize: none;
    width: 535px;
    height: 165px;
    outline: none;
  }

  .main_reply_modal .modal_footer{
    margin-bottom: 16px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .main_reply_modal .tip_text{
    color: var(--error-color);
    margin-right: 20px;
  }

  .main_reply_modal .submit_btn{
    background-color: var(--main-color);
    color: white;
    border-radius: 50px;
    padding: 8px 16px;
  }
  .main_reply_modal .submit_btn:disabled{
    background-color: #6C757D;
    opacity: 0.5;
    cursor: default;
  }

}